*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url(https://mobimg.b-cdn.net/v3/fetch/76/762ac0f88e1157dc990f78a4cdf24e42.jpeg?w=1470&r=0.5625) no-repeat;
    background-position: center center;
    height: 1800px;
    background-attachment: fixed;
    background-size: cover;
    animation: cambiar 4s ease infinite;
    
}
@keyframes cambiar{
    0%{background-position: 0% 0%;}
    10%{background-position: 10% 90%;}
    20%{background-position: 20% 80%;}
    30%{background-position: 30% 70%;}
    40%{background-position: 40% 60%;}
    50%{background-position: 50% 50%;}
    60%{background-position: 60% 40%;}
    70%{background-position: 70% 30%;}
    80%{background-position: 80% 20%;}
    90%{background-position: 90% 10%;}
    100%{background-position: 100% 0%;}
}
    
.form-register{
    width: 400px;
    background: rgba(253, 8, 0, 0.705);
    padding: 30px;
    margin: auto;
    border-radius: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(255, 0, 0);
    box-shadow: 7px 13px 37px #000000;
    margin-top: 10vh;
    transition: 1.5s;
}
.form-register:hover{
    transform: scale(1.1);
    box-shadow: 2px 2px 2px #000000;
    z-index: 2;
}




.Titulo{
    font-size: 25px;
    display: flex;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: red;
    margin-top: 15vh;
    animation: change-color 10s infinite;
    
}

@keyframes change-color{
    0%{
        color: red;
    }
    25%{
        color: rgb(255, 255, 255);
    }
    50%{
        color: rgb(0, 251, 255);
    }
    100%{
        color: red;
    }
}
.controls{
    width: 100%;
    background: #ffffff;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    color: rgb(0, 0, 0);
}

.boton {
    
   
    background: rgb(0, 0, 0);
    border: none;
    padding: 5px;
    color: rgb(254, 254, 254);
    font-size: 16px;
    border-radius: 4px;
    transition: 1.1s;
    animation: colors 1s infinite;
}

.boton:hover{
        transform: scale(1.2);

}

@keyframes colors{
    0%{
        color: rgb(255, 255, 255);
    }
    100%{
        color: rgb(0, 252, 231);
    }
}


    